<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Log-Medi</title>

    <meta name="description" content="Proyecto Log-Medi" />
    <meta name="author" content="Juan Camilo Vanegas / Danilo Chaverra" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/dist/img/Favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/dist/img/Favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/dist/img/Favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/dist/img/Favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/dist/img/Favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/dist/img/Favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/dist/img/Favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/dist/img/Favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/dist/img/Favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/dist/img/Favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/dist/img/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/dist/img/Favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/dist/img/Favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/dist/img/Favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/dist/img/Favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/theme")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    <style>
        .Ocultar {
            visibility: hidden;
            display: none;
        }

        .Desocultar {
            visibility: visible;
            display: normal;
        }
    </style>


    <script>
        var anterior;
        function Confirmar(valor) {
            $("#ModalConfirm").modal("show", function () { keyboard: false });
            anterior = valor;
        }
        function Dejar() {
            $("#ddlEstado").val(anterior);
            $("#Estado").val(anterior);
        }
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <section id="arriba">
        <span class="ir-arriba fa fa-angle-up " style="display: none; padding: 20px; background: #808080; font-size: 20px; color: white;padding:10px; cursor: pointer; position: fixed; z-index: 10000; bottom: 20px; right: 20px"></span>
    </section>


    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="../../" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>L</b>OG</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Log</b>Medi</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/dist/img/user3-128x128.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Diana Díaz</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Diana Díaz - Doctor
                                    </p>
                                </li>
                 
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-primary btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-key"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">

                    </div>
                    <div class="pull-left info">
                        <p>Diana Díaz</p>
                    </div>
                </div>


                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MENÚ DE MÓDULOS</li>
                    <li class="treeview">
                        <a href="../../">
                            <i class="fa fa-home"></i><span>Inicio</span>

                        </a>

                    </li>
                    <li id="NavPaciente">
                        <a href="@Url.Action("Index","Paciente")">
                            <i class="fa fa-user-md" id="Pacientes"></i><span>Paciente</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-down pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li id="NavAgenda">
                        <a href="#">
                            <i class="fa fa-calendar"></i>
                            <span>Agenda</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li id="liAgenda">
                                <a href="@Url.Action("Index","Agenda")">
                                    <i class="fa fa-circle-o" id="Agenda"></i><span>Consulta general</span>
                                </a>
                            </li>
                            <li id="lAgenda">
                                <a href="@Url.Action("AgendaPaciente", "Agenda")">
                                    <i class="fa fa-circle-o" id="Agenda"></i><span>Consultar paciente</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li id="NavSeguimiento">
                        <a href="#">
                            <i class="fa fa-heartbeat"></i>
                            <span>Seguimiento clínico</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li id="liAtencion">
                                <a href="@Url.Action("Index","Seguimiento")">
                                    <i class="fa fa-circle-o" id="Agenda"></i><span>Atención</span>
                                </a>
                            </li>
                            <li id="lSeguimiento">
                                <a href="@Url.Action("AgendaPaciente", "Agenda")">
                                    <i class="fa fa-circle-o" id="Agenda"></i><span>Consultar seguimiento</span>
                                </a>
                            </li>

                        </ul>
                    </li>





                    <li id="navVenta">
                        <a href="">
                            <i class="fa fa-shopping-cart"></i><span>Venta</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="Crearventa">
                                <a href="@Url.Action("Create","Venta")">
                                    <i class="fa fa-circle-o" id="Crearventali"></i><span>Registrar venta</span>
                                </a>
                            </li>
                            <li id="ConsultarVenta">
                                <a href="@Url.Action("Consultar","Venta")">
                                    <i class="fa fa-circle-o" id="ConsultarVentali"></i><span>Consultar venta</span>
                                </a>
                            </li>


                            @*<li><a href="index2.html"><i class="fa fa-circle-o"></i>Reporte</a></li>*@
                        </ul>
                    </li>

                    <li id="NavGeneral">
                        <a href="pacienteForm.aspx">
                            <i class="fa fa-cog"></i><span>Gestión general</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="navMedicamentos">
                                <a href="pacienteForm.aspx">
                                    <i class="fa fa-medkit"></i><span>Producto</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="Medicamentos">
                                        <a href="@Url.Action("Index","Medicamento")">
                                            <i class="fa fa-circle-o" id="Medicamento"></i><span>Medicamento</span>
                                        </a>
                                    </li>
                                    <li id="DMedicamentos">
                                        <a href="@Url.Action("Index","DirectorioMedicamentos")">
                                            <i class="fa fa-circle-o" id="DMedicamento"></i><span>Directorio medicamento</span>
                                        </a>
                                    </li>
                                    <li id="PMedicamentos">
                                        <a href="@Url.Action("Index","Presentacion")">
                                            <i class="fa fa-circle-o" id="PMedicamento"></i><span>Presentación</span>
                                        </a>
                                    </li>
                                    <li id="CMedicamentos">
                                        <a href="@Url.Action("Movimiento","Medicamento")">
                                            <i class="fa fa-circle-o" id="CMedicamento"></i><span>Ingreso</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li id="NavUsuarios">
                                <a href="@Url.Action("Index","Usuario")">
                                    <i class="fa fa-user-md" id="Usuarios"></i><span>Usuario</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                            </li>


                            <li id="NavRol">
                                <a href="@Url.Action("Index","Rol")">
                                    <i class="fa fa-key" id="Roles"></i><span>Rol</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>

                            </li>
                            <li id="NavEmpleados">
                                <a href="@Url.Action("Index","Empleado")">
                                    <i class="fa fa-users" id="Empleados"></i><span>Empleado</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>

                            </li>
                        </ul>
                    </li>


                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">

                @RenderBody()

                <div id="myModal" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel" style="display:none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body" style="padding:0px!important">
                                <div id="modal-content">
                                    <div class="container" style="padding-left:42%">
                                        <img src="~/Content/images/cargando.gif" id="CargarImagen" width="40" height="40" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->




        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 3.0.7
            </div>

            <strong>Log-Medi @DateTime.Now.Year</strong> Todos los derechos
            reservados.
        </footer>
        <!-- Control Sidebar -->
        <aside id="asidebar" class="control-sidebar control-sidebar-bg content">
            <div class="box box-default">
                <div class="box-header with-border" style="background-color:#3c8dbc;color:white">
                    <h3 class="box-title">Cambiar contraseña</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="Home/Cambiar" method="post" id="FormCambiar">
                    <div class="box-body">
                        <div id="RespuestaAlCambio"></div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" name="OldPassword" class="form-control" id="OldPassword" placeholder="Contraseña actual" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" name="NewPassword" class="form-control" id="NewPassword" placeholder="Nueva contraseña" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" name="ConfirmPassword" class="form-control" id="ConfirmPassword" placeholder="Confirmar contraseña" required>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" class="btn btn-default" onclick="LimpiarContrasenas();">Cancelar</button>
                        <button type="submit" class="btn btn-info pull-right" onclick="CambiarContrasena();" id="SubmitCambiar" disabled>Cambiar</button>

                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>

        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <script>
        function LimpiarContrasenas() {
            $("#OldPassword,#NewPassword,#ConfirmPassword").val("");
            $("#asidebar").removeClass("control-sidebar-open");
            $("RespuestaAlCambio").html(" ");
        }
        function CambiarContrasena() {
            var OldPassword = $("#OldPassword").val();
            var NewPassword = $("#NewPassword").val();
            var ConfirmPassword = $("#ConfirmPassword").val();

            var send = {
                OldPassword: OldPassword,
                NewPassword: NewPassword,
                ConfirmPassword: ConfirmPassword
            };
            $.ajax("Home/Cambiar",
{
    type: 'post',
    cache: false,
    dataType: 'text',
    contentType: "application/json",
    data: JSON.stringify(send),
    success: function (data) {
        if (data == "True") {
            $("#RespuestaAlCambio").html("<div style='color:green;'>Contraseña Cambiada</div>");
            $("#OldPassword,#NewPassword,#ConfirmPassword").val("");
        }
        else {
            $("#RespuestaAlCambio").html("<div style='color:red;'>Contraseña incorrecta</div>");
        }
    },
    error: function (xhr, status) {
        console.log(status);
        console.log(xhr.responseText);
    }
})



        }

        $(document).ready(function () {
            $('#SubmitCambiar').click(function (evt) {
                evt.preventDefault();
            });
            $('#FormCambiar')
                .bootstrapValidator({
                    message: 'Este valor no es válido',
                    fields: {
             
                        OldPassword: {
                            message: 'Campo no válido',
                            validators: {
                                notEmpty: {
                                    message: 'Campo requerido'
                                },
                                stringLength: {
                                    max: 15,
                                    message: 'No puedes sobrepasar los 15 carácteres en este campo'
                                },
                                regexp: {
                                    regexp: /^[a-z0-9,.()-ñÑáéíóúÁÉÍÓÚ\s]+$/i,
                                    message: 'No se admiten carácteres especiales'
                                }
                            }
                        },
                        NewPassword: {
                            message: 'Campo no válido',
                            validators: {
                                notEmpty: {
                                    message: 'Campo requerido'
                                },
                                stringLength: {
                                    max: 15,
                                    message: 'No puedes sobrepasar los 15 carácteres en este campo'
                                },
                                regexp: {
                                    regexp: /^[a-z0-9,.()-ñÑáéíóúÁÉÍÓÚ\s]+$/i,
                                    message: 'No se admiten carácteres especiales'
                                }
                            }
                        },
                        ConfirmPassword: {
                            message: 'Campo no válido',
                            validators: {
                                notEmpty: {
                                    message: 'Campo requerido'
                                },
                                stringLength: {
                                    max: 15,
                                    message: 'No puedes sobrepasar los 15 carácteres en este campo'
                                },
                                regexp: {
                                    regexp: /^[a-z0-9,.()-ñÑáéíóúÁÉÍÓÚ\s]+$/i,
                                    message: 'No se admiten carácteres especiales'
                                },
                                identical: {
                                    field: 'NewPassword',
                                    message: 'Las contraseñas no son las mismas'
                                }
                            }
                        }
              
                    }
                });
        });
      
    </script>
    <div class="modal modal-primary"  id="ModalConfirm" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalTittle">¿Estás seguro de cambiar el estado?</h4>
                </div>
                <div class="modal-footer"> 
                    <button type="button" class="btn btn-success  pull-right col-lg-offset-1" style="width: 80px;" data-dismiss="modal">Sí</button>
                    <button type="button" onclick="Dejar();" data-dismiss="modal" style="width: 80px" class="btn btn-danger right">No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- /.modal -->
    @RenderSection("scripts", required: false)


</body>
</html>

