@model Models.empleado

@{
    Layout = null;
}


<section class="content" style="padding:0px!important">


    <div class="box box-primary" style="padding:15px!important;border-top-width:4px">

        <div class="box-header with-border" style="padding-top:0px">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="box-title">Detalles empleado - @Model.primer_nombre @Model.primer_apellido</h3>

        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Documento</dt>
                        <dd>@Model.id_empleado</dd>
                        <dt>Tipo de documento</dt>
                        @{ foreach (var e in Model.documentos)
                            {
                                <dd>@e.nombre</dd>
                            }
                        }
                        
                        <dt>Nombres</dt>
                        <dd>@Model.primer_nombre @Model.segundo_nombre</dd>
                        <dt>Apellidos</dt>
                        <dd>@Model.primer_apellido @Model.segundo_apellido</dd>
                        <dt>Genero</dt>
                        @{ foreach (var e in Model.generos)
                            {
                                <dd>@e.nombre</dd>
                            }
                        }
                        <dt>Contacto</dt>
                        <dd>@Model.celular // @Model.telefono</dd>
                        <dt>Estado</dt>
                        @{string estado = Model.estado == 1 ? "Activo" : "Inactivo";

                            <dd> @estado </dd>}

                    </dl>                   



                </div>


            </div>


        </div>


    </div>

</section>