@model Models.servicio

@{
    Layout = null;
}

<section class="content" style="padding:0px!important">


    <div class="box box-primary" style="padding:15px!important;border-top-width:4px">

        <div class="box-header with-border" style="padding-top:0px">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h3 class="box-title">Detalles servicio - @Model.nombre</h3>

        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>ID</dt>
                        <dd>@Model.id_servicio</dd>
                        <dt>Nombre</dt>
                        <dd>@Model.nombre</dd>
                        <dt>Valor</dt>
                        <dd>@Model.valor</dd>
                        <dt>Estado</dt>
                        @{string estado = Model.estado == 1 ? "Activo" : "Inactivo";

                            <dd> @estado </dd>}

                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Descripción</dt>
                     <dd>@Model.descripcion</dd>


                    </dl>


                </div>


            </div>


        </div>


    </div>

</section>